h1 { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 260%;
color:#fcea3e;
}

.container-galery-restaurant {
   flex-flow: wrap;
    border: 7px solid #ffffff;
    height: 150px;
    margin: 2px;
    
}

body {
    background-color:#289688;
}






