.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

p {
    font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    text-align:left;
    color: #4363aa;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
     font-size: 340%;
     font-weight: normal;
     text-align: center;
     letter-spacing:12px;
     color:#bb5396;

}

h3 { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
     font-size: 135%;
     text-align:start;
     letter-spacing:11px;
     color:#bb5396;
}

.Pop {
    float:right; 
   
}
.cari {
    float: left;
}

.kingdom {
    float:right;
}

.Subtitle3 { 
    text-align: center;

}







    